body{background-image: url(../img/background.jpg);}

.navbar-brand {
    color: rgb(201, 13, 13);
}

.navbar-brand img {
    widht: 32px;
    height: 32px;
    margin-right: 10px;
}

.primer-bloque {
    color: aliceblue;
    font-size: 0, 8rem;
}

.encabezado-segundo-bloque {
    color: aliceblue;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 30px;
}
.
.card {
    text-align: center;
}