.body {
    background-image: url(../img/Neon-4k-Wallpaper.jpg);
    font-family: 'Courier New', Courier, monospace;
}
.navbar-brand{color: aliceblue;}
.navbar-brand:hover{
    color: aliceblue;
}
.navbar-nav{justify-content: end;}
.nav-link{color: aliceblue;}
.navbar-brand img {
    widht: 32px;
    height: 32px;
    margin-right: 10px;
}


.primer-bloque {
    color: aliceblue;
    font-size: 0, 8rem;
}